<h1><%= @place["name"] %></h1>

<p>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-outline-dark">New Post</a>
</p>

  <div class="row">
    <% for entry in @entries %>
      <div class="col-md-4">
        <div class="card-body">
          <h3 class="card-title"><%= entry["title"] %></h3>
          <h7 class="card-subtitle mb-2 text-muted"><%= entry["occurred_on"] %></h7>
            <% if entry["image"] != nil %>
              <img src="<%= entry["image"] %>" class="img-fluid w-full">
            <% end %>
          <p class="card-text"><%= entry["description"] %></p>
        </div>
      </div>
    <% end %>
  </div>